.main-section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    padding: 2rem;
    max-width: 800px;
    height: 100%;
}

.section-title {
    color: #FF8C00;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.delivery-info {
    margin-bottom: 2rem;
}

.delivery-info h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #FF8C00;
    padding-bottom: 0.5rem;
}

.delivery-info p {
    color: #666;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.status-btn {
    background-color: #FF8C00;
    margin-top: 1rem;
    width: 100%;
    height: 40px;
    font-size: 1rem;
}
.status-btn:hover {
    background-color: orangered !important;
}
hr {
    border: none;
    border-top: 1px solid #e8e8e8;
    margin: 1rem 0;
}
.back-btn{
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-width: 0px;
}

.loading-message,
.no-order-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 18px;
  color: #666;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin: 20px 0;
}

.loading-message {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
